
<ul class= "site_links">
  <li><a href="/blog.html" >blog</a></li>
  <span class="divider"></span>
  <li><a href="https://github.com/jonparkdev" >github</a></li>
  <span class="divider"></span>
  <li><a href="https://www.linkedin.com/in/jon-c-park/">linkedin</a></li>
  <span class="divider"></span>
  <li><a href="mailto:jon@jonathanpark.ca">email</a></li>
  <span class="divider"></span>
  <li><a href="https://www.facebook.com/" >facebook</a></li>
  <span class="divider"></span>
  <li><a href="https://instagram.com/" >instagram</a></li>
</ul>
